*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
background:#080808;
color:white;
}


/* HEADER */

header{

display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:#111;
position:sticky;
top:0;
z-index:100;

border-bottom:1px solid #222;

}


.logo{

font-size:38px;
font-weight:900;
letter-spacing:3px;
color:#ff6b00;

}


nav{

display:flex;
gap:25px;

}


nav a{

text-decoration:none;
color:white;
font-weight:bold;
transition:.3s;

}


nav a:hover{

color:#ff6b00;

}



/* HERO */


.hero{

min-height:500px;
display:flex;
align-items:center;
justify-content:center;
text-align:center;

background:

linear-gradient(
rgba(0,0,0,.65),
rgba(0,0,0,.9)
),

url("images/banner.avif");

background-size:cover;
background-position:center;

padding:40px;

}



.hero-text{

max-width:800px;

}


.hero h1{

font-size:55px;
line-height:1.1;
margin-bottom:20px;

}


.hero p{

font-size:22px;
color:#ccc;
margin-bottom:35px;

}



.hero-button{

display:inline-block;
background:#ff6b00;
color:white;
padding:15px 35px;
border-radius:10px;
text-decoration:none;
font-weight:bold;
transition:.3s;

}


.hero-button:hover{

transform:scale(1.05);
background:#ff8a33;

}



/* CATEGORIAS */


.categorias{

padding:60px 8%;
text-align:center;

}


.categorias h2,
.produtos h2,
.setup h2{

font-size:38px;
margin-bottom:35px;

}


.categoria-lista{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:20px;

}


.categoria{

background:#151515;
padding:30px;
border-radius:15px;
font-size:20px;
font-weight:bold;
border:1px solid #222;
transition:.3s;

}


.categoria:hover{

border-color:#ff6b00;
transform:translateY(-5px);

}



/* PRODUTOS */


.produtos{

padding:60px 8%;

}


.filtros{

display:flex;
justify-content:center;
gap:15px;
margin-bottom:40px;
flex-wrap:wrap;

}


.filtros button{

background:#ff6b00;
border:none;
color:white;
padding:12px 25px;
border-radius:10px;
cursor:pointer;
font-weight:bold;

}


.cards{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:30px;

}



/* SETUP */


.setup{

padding:70px 8%;
text-align:center;
background:#111;

}


.setup-produtos{

margin-top:30px;
font-size:22px;
color:#ff6b00;
font-weight:bold;

}



/* FOOTER */


footer{

text-align:center;
padding:40px;
background:#050505;
color:#888;

}


footer h3{

font-size:30px;
color:#ff6b00;
margin-bottom:10px;

}



/* MOBILE */


@media(max-width:768px){


header{

flex-direction:column;
gap:15px;

}


.hero h1{

font-size:38px;

}


.hero p{

font-size:18px;

}


}
